@use '../palette/palette' as *;

.form-edit-profile {
  display: flex;

  &__avatar-box {
    position: relative;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__button-edit-avatar {
    position: absolute;

    background-color: $secondary-main;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      background-image: url('../../images/Components/ContentView/pencil-1.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__inputs-box {
    display: grid;
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .form-edit-profile {
    flex-direction: column;
    align-items: center;

    &__avatar-box {
      width: 170px;
      height: 170px;
      margin: 0 4px 23px 0;
    }

    &__avatar {
      width: 170px;
      height: 170px;
    }

    &__button-edit-avatar {
      bottom: 20px;
      right: -5px;
      width: 38.64px;
      height: 38.64px;

      &::before {
        width: 18.55px;
        height: 18.55px;
      }
    }

    &__inputs-box {
      grid-template-columns: 1fr;
      row-gap: 16px;

      & > #yourName {
        grid-column: 1;
        grid-row: 1;
      }

      & > #email {
        grid-column: 1;
        grid-row: 3;
      }

      & > #dateOfBirth {
        grid-column: 1;
        grid-row: 5;
      }

      & > #permanentAddress {
        grid-column: 1;
        grid-row: 7;
      }

      & > #postalCode {
        grid-column: 1;
        grid-row: 9;
      }

      & > #userName {
        grid-column: 1;
        grid-row: 2;
      }

      & > #password {
        grid-column: 1;
        grid-row: 4;
      }

      & > #presentAddress {
        grid-column: 1;
        grid-row: 6;
      }

      & > #city {
        grid-column: 1;
        grid-row: 8;
      }

      & > #country {
        grid-column: 1;
        grid-row: 10;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .form-edit-profile {
    flex-direction: row;
    align-items: start;

    &__avatar-box {
      width: 132px;
      height: 130px;
      margin: 3px 55px 0 0;
    }

    &__avatar {
      width: 130px;
      height: 130px;
    }

    &__button-edit-avatar {
      bottom: 16px;
      right: -2px;
      width: 30px;
      height: 30px;

      &::before {
        width: 15px;
        height: 15px;
      }
    }

    &__inputs-box {
      grid-template-columns: repeat(2, 1fr);
      gap: 22px 29px;

      & > #yourName {
        grid-column: 1;
        grid-row: 1;
      }

      & > #email {
        grid-column: 1;
        grid-row: 2;
      }

      & > #dateOfBirth {
        grid-column: 1;
        grid-row: 3;
      }

      & > #permanentAddress {
        grid-column: 1;
        grid-row: 4;
      }

      & > #postalCode {
        grid-column: 1;
        grid-row: 5;
      }

      & > #userName {
        grid-column: 2;
        grid-row: 1;
      }

      & > #password {
        grid-column: 2;
        grid-row: 2;
      }

      & > #presentAddress {
        grid-column: 2;
        grid-row: 3;
      }

      & > #city {
        grid-column: 2;
        grid-row: 4;
      }

      & > #country {
        grid-column: 2;
        grid-row: 5;
      }
    }
  }
}
