@use '../palette/palette' as *;
@use '../abstracts/mixins/all' as *;

.header {
  width: 100%;
  min-height: 100px;
  border-bottom: 1px $gray-300 solid;
  background-color: $white;

  &__button-menu {
    justify-self: start;
    height: 18px;
    width: 18px;
    margin-bottom: 1px;

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url('../../images/Components/Header/menu.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    font-family: 'Inter SemiBold';
    margin: 2px 0 0;
    color: $primary-main;
  }

  &__form-search {
    position: relative;
  }

  &__input-search {
    font-family: 'Inter Regular';
    border-radius: 40px;
    border: none;

    margin: 0;
    background-color: $gray-200;
    color: $primary-300;

    &::placeholder {
      color: $primary-300;
    }

    &:focus {
      outline: none;
    }
  }

  &__button-search {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url('../../images/Components/Header/magnifying-glass-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__item-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $gray-200;

    &_setting {
      &::before {
        @include icon-button-control;
        background-image: url('../../images/Components/Header/setting-1.svg');
      }
    }
    &_notification {
      &::before {
        @include icon-button-control;
        background-image: url('../../images/Components/Header/notification-1.svg');
      }
    }

    &_profile {
      width: 60px;
      height: 60px;

      & > img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    justify-items: center;
    padding: 25px 25px 20px;
    row-gap: 18px;

    &__title {
      font-size: 2rem;
    }

    &__search {
      grid-column: 1/4;
      grid-row: 2;
      width: 100%;
    }

    &__input-search {
      width: 100%;
      height: 40px;
      font-size: 1.3rem;
      padding: 0 25px 0 45px;
    }

    &__button-search {
      left: 19px;
      width: 16px;
      height: 16px;
    }

    &__item-control {
      :where(&_setting, &_notification) {
        display: none;
      }

      &_profile {
        justify-self: end;
        width: 35px;
        height: 35px;

        & > img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr;
    justify-content: normal;
    align-items: center;
    padding: 0 40px;

    &__title {
      font-size: 2.8rem;
    }

    &__search {
      width: 255px;
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      margin-right: 30px;
    }

    &__input-search {
      height: 50px;
      font-size: 1.5rem;
      padding: 0 25px 1px 60px;
    }

    &__button-search {
      left: 25px;
      width: 20px;
      height: 20px;
    }

    &__box-controls {
      grid-column: 3;
      grid-row: 1;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 30px;
    }

    &__item-control {
      :where(&_setting, &_notification) {
        display: block;
      }

      &_profile {
        grid-column: 3;
        width: 60px;
        height: 60px;
        margin-left: 5px;

        & > img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
