@use '../palette/palette' as *;

.sub-navigation {
  max-width: 285px;
  width: 100%;
  align-self: center;

  & > :where(ul) {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Inter Medium';
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    border-bottom: 1px $gray-150 solid;

    & > :where(li) {
      & > :where(a) {
        color: #718ebf;
        text-decoration: none;
      }
    }
  }

  &__link_active {
    position: relative;
    display: block;
    padding-bottom: 12px;
    color: $secondary-main;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: $secondary-main;
    }
  }
}

@media screen and (min-width: 375px) {
  .sub-navigation {
    margin-bottom: 25px;

    & > :where(ul) {
      height: 24px;
      font-size: 1.3rem;

      & > :where(li) > :where(a) {
        padding: 0 6px 6px;
      }
    }

    &__link_active {
      padding-bottom: 9px;

      &::before {
        height: 2px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .sub-navigation {
    max-width: 100%;
    width: 100%;
    margin-bottom: 52px;

    & > :where(ul) {
      height: 30px;
      justify-content: start;
      font-size: 1.6rem;

      & > :where(li) {
        &:nth-child(1n):not(:last-child) {
          margin-right: 40px;
        }

        & > :where(a) {
          padding: 0 16px 12px;
        }
      }
    }

    &__link_active {
      &::before {
        height: 3px;
      }
    }
  }
}
