@use '../../palette/palette' as *;

@mixin icon-button-control {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
