$primary-300: #8ba3cb;
$primary-400: #718ebf;
$primary-main: #343c6a;

$secondary-main: #1814f3;

$gray-150: #f4f5f7;
$gray-200: #f5f7fa;
$gray-300: #e6eff5;
$gray-350: #dfeaf2;
$gray-500: #b1b1b1;
$gray-900: #232323;

$white: #fff;
