@use '../palette/palette' as *;

.setting {
  nav {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 375px) {
  .setting {
    display: flex;
    flex-direction: column;

    & > nav {
      margin-bottom: 25px;
    }
  }
}
