@font-face {
  font-family: 'Inter SemiBold';
  src:
    local('Inter-Semibold'),
    url('./Inter-SemiBold.woff2') format('woff2'),
    url('./Inter-SemiBold.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src:
    local('Inter-Regular'),
    url('./Inter-Regular.woff2') format('woff2'),
    url('./Inter-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter Medium';
  src:
    local('Inter-Medium'),
    url('./Inter-Medium.woff2') format('woff2'),
    url('./Inter-Medium.woff') format('woff');
  font-weight: normal;
}
