@use '../../palette/palette' as *;

%icon-button-control {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
